/* Custom Premium Dark Scrollbars */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #020617; /* Slate 950 */
}
::-webkit-scrollbar-thumb {
    background: #1e293b; /* Slate 800 */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9; /* Cyan 500 */
}
